<% title "Posts" %>

  <% for post in @posts %>
    <div class="post">
    
      <h2 class="title"><%=h post.title %></h2>
      <p class="meta"><span class="author"><a href="#"></a></span> <span class="date"><%=h post.updated_at.strftime("%a %b %d, %Y") %></span>&nbsp;<span class="links"></span></p>
      <div class="entry"><%=h post.body %></div>
      <%if current_user %>
        <a><%= link_to "Edit", edit_post_path(post) %></a>
        <a><%= link_to "Destroy", post, :confirm => 'Are you sure?', :method => :delete %></a>
    <%end%>
    </div>
  <% end %>
<%if current_user %>
  <p><%= link_to "New Post", new_post_path %></p>
<%end%>
